@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap");

body {
  font-family: "Plus Jakarta Sans", sans-serif !important;
}

.max-container {
  max-width: 1920px;
  margin: auto;
}

hr {
  opacity: 1 !important;
}

/* top section */
.top-section {
  overflow: hidden;
}

.top-section .swiper-slide div {
  width: 50%;
}

.top-section .swiper-slide-active div {
  width: 75%;
  margin-top: 40px;
}

.top-section .swiper-button-disabled {
  opacity: 0 !important;
}

.top-section .swiper-button-next:after {
  border: 1px solid red;
  border-radius: 1000px;
  padding: 20px 25px;
  color: red;
  font-size: 1.5rem !important;
}

.top-section .swiper-button-prev,
.top-section .swiper-button-next {
  /* top: 60% !important; */
  z-index: 200;
  margin-bottom: 0px;
}

.top-section .swiper-button-prev {
  left: 70% !important;
  z-index: 2000;
}

.top-section .swiper-button-next {
  left: 70% !important;
  z-index: 2000;
}

.top-section .swiper-button-prev:after {
  border: 1px solid red;
  border-radius: 1000px;
  padding: 20px 25px;
  font-size: 1.5rem !important;
  color: red;
}

.top-section-bottom {
  color: #f0ede6;
  opacity: 0.4;
}

.top-section-bottom hr {
  width: 20px;
  color: #fff;
}

.top-section-absolute {
  z-index: 300;
  color: #fff;
}

.top-section-absolute h2:last-child {
  font-size: 7rem;
  right: 10%;
  top: -40%;
}

.text-opacity {
  opacity: 0.4;
}

@media (min-width: 300px) {
  .top-section .swiper-button-prev,
  .top-section .swiper-button-next {
    top: 80% !important;
  }
}

@media (min-width: 900px) {
  .top-section .swiper-button-prev,
  .top-section .swiper-button-next {
    top: 60% !important;
  }
}
