@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap");

body {
  font-family: "Plus Jakarta Sans", sans-serif !important;
}

.max-container {
  max-width: 1920px;
  margin: auto;
}

.follow-us .swiper-slide {
  text-align: center;
  
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.follow-us .swiper-slide a img {
  width: 5px !important;
}
